/*content-box allows the child element to go outside its parent container. border-box contains the child within its borders.*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.5;
    color: #333;
    background: #f5f5f5;
}



/*this is the parent container that has 9 children  with a class of "item"*/
.container {
    max-width: 960px;
    margin: 100px auto;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
    /*column-gap: 10px;
    row-gap: 10px;*/
    gap: 10px;

}
/* At this point i'm supposed to have a back ground colr of steel blue displayed, yet my divisions are working and in my css file i have no error displayed dont understand why its not displaying the properties defined in the .item class.*/
.item {
background: steelblue;
color: #fff;
font-size: 20px;
padding: 20px;
border: skyblue 1px solid;
}

